.ficha {
    width: var(--layout-width);
    margin: 30px auto 14px;
    color: var(--fullblack);
}
.ficha span {
    line-height: 1.2;
}
.ficha__header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-width: 100%;
    font-size: 15px;
}
.ficha__header-col-de-emblema {
    flex-direction: column;
    padding: 20px 0;
}
.ficha__emblema {
    margin: auto;
    width: 55px;
    height: 55px;
}
.ficha__box-descricao-de-emblema span {
    display: block;
    text-align: center;
    line-height: 1.4;
    font-weight: 700;
}
.ficha__header__col-de-pnct {
    flex-direction: column;
    padding-top: 23px;
    padding-bottom: 23px;
}
.ficha__header__col-de-pnct h2 {
    text-align: center;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: 700;
}
.ficha__moldura-de-logo-de-pnct {
    margin-top: 7px;
    width: 140px;
    height: 55px;
}
.ficha__header__col-de-localizacao {
    display: grid;
    grid-template-rows: 25px repeat(4, 1fr);
}
.ficha__col-de-localizacao__linha {
    padding: 0 10px 0 4px;
}
.ficha__col-de-localizacao__linha--border-t {
    border-top: 1px solid var(--cor-de-borda);
    padding-top: 2px;
    margin-top: 10px;
}
.ficha__col-de-localizacao__linha input {
    flex: 1;
}
.ficha__header__col-de-titulo {
    grid-column: 1/4;
    padding: 5px 0;
    background-color: var(--fullblack);
    color: var(--yt);
}
.ficha__titulo {
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
}
.ficha__seccao__titulo {
    font-size: 12.5px;
    letter-spacing: 1.5px;
    text-align: center;
    padding: 8px 0;
    text-transform: uppercase;
    background-color: var(--fullblack);
    color: var(--yt);
}
.ficha__seccao__titulo--margin-top {
    margin-top: 12px;
}
.ficha__seccao-1__header {
    display: grid;
    grid-template-columns: 422px calc(63px * 9);
    grid-template-areas: ". col-2";
}
.seccao-1__header__col-2 {
    grid-area: col-2;
    display: grid;
    grid-template-rows: 14px 155px;
    background-color: var(--gray--a);
}
.seccao-2__header__linha-com-numeros-das-colunas,
.seccao-1__header__linha-de-indicadores {
    display: grid;
    grid-template-columns: repeat(9, 63px);
}
.seccao-1__header__linha-de-indicadores span {
    display: block;
    transform: rotate(-90deg) translate(-115px, 0);
    white-space: nowrap;
}
.seccao-1__header__linha-de-indicadores span.seccao-1__header__indicador-col-1 {
    transform: rotate(-90deg) translate(-99px, 0);
}
span.seccao-1__header__indicador-col-2,
span.seccao-1__header__indicador-col-3 {
    transform: rotate(-90deg) translate(-106px, 0);
}
.ficha__seccao__body {
    display: grid;
}
.ficha__seccao__body--grid-template-cols-10 {
    grid-template-columns: 422px repeat(9, 63px)
}
.ficha__col-de-indicadores--seccao-1,
.ficha__col-de-inputs {
    display: grid;
    grid-template-rows: repeat(2, 29px) 29px repeat(4, 26px);
}
.ficha__col-de-indicadores span {
    padding: 2px;
}
.ficha__col-de-inputs {
    grid-template-columns: 63px;
    overflow: hidden;
}
[data-totaleixox]:focus,
.input-nao-celular:focus,
.input-celular--focus:focus {
    border-bottom: 2px solid var(--blue);
    background-color: var(--greenyellow);
    color: var(--cor-de-texto);
}
@media screen {
    .input--realcar-totais {
        background-color: var(--cor-de-realce-de-totais);
    }
}
.input--bg-color-danger {
    background-color: var(--cor-de-risco);
    color: var(--yt)
}
.input--font-small {
    font-size: 12px
}
/*


.ficha__seccao--margin-t {
    margin-top: 6px;
}
.ficha__seccao__body--display-block {
    display: block;
}
.ficha__seccao-2__grid-template-cols-12 {
    display: grid;
    grid-template-columns: 296px repeat(11, 63px);
    grid-template-rows: 22px;
}
.ficha__seccao-2__grid-template-cols-12--margin-y {
    margin: 4px 0;
}
.ficha__seccao-2__grid-template-cols-12 span {
    padding-left: 2px;
    display: flex;
    align-items: center;
}
.ficha__seccao-2__grid-template-cols-12 input {
    border-left: 1px solid var(--cor-de-borda);
}
.ficha__seccao__body--3 {
    padding-left: 2px;
    display: grid;
    grid-template-columns: 1fr calc(63px * 2 + 63px / 2 );
    font-size: 11.4px;
}
.ficha__seccao-4__subtitulo {
    text-align: center;
    font-weight: 700;
    padding: 6px 2px;
    font-size: 11.4px;
}
.grid-template-cols-4 {
    display: grid;
    grid-template-columns: 422px repeat(3, calc(63px * 3));
    grid-template-rows: 18px;
}
.grid-template-cols-4--row-height-greater {
    grid-template-rows: 22px;
}
.ficha__seccao-4__pseudo-footer {
    padding: 2px;
    min-height: 18px;
}
.ficha__rodape {
    padding: 10px 2px;
    min-height: 40px;
    display: grid;
    grid-template-columns: 510.50px 1fr 155px;
}
.ficha__rodape input {
    font-size: 12px;
}
@media print {
    .ficha__rodape input {
        border-bottom: none;
    }
}
.ficha__rodape__campo-de-nome {
    width: 250px;
}
.ficha__rodape__campo-de-categoria {
    width: 225px;
}
.ficha__rodape__col-de-data {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.ficha__col-de-data__label {
    margin-right: 2px;
}
/* CLASSES REUTILIZÁVEIS */
.--cor-de-fundo-padrao {
    background-color: var(--gray--a);
}

.--cor-de-fundo-padrao--discreta {
    background-color: var(--gray--lighter);
}